<!DOCTYPE html>
<html>
  <body>
    <div>
      <span>Olá, <strong>{{firstName}}</strong>.</span>

      <p>
        Informamos que houve um falha na sua transfêrencia no valor de
        {{value}}.
      </p>

      <p>Motivo:</p>

      <p>{{reason}}</p>

      <p>
        Por motivos de segurança a sua transfêrencia foi cancelada e retornamos
        o valor para sua carteira virtual.
      </p>

      <p>
        Caso estiver enfrentando problemas em receber a transfêrencia entre em
        contato conosco.
      </p>
    </div>
  </body>
</html>
