@import 'swiper/swiper-bundle.css';

.swiper-container {
  @apply flex flex-col;

  position: unset;
}

.swiper-pagination {
  @apply relative order-2 bottom-0 mt-14 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-green-500;
}

.swiper-slide {
  @apply h-full;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
