<!DOCTYPE html>
<html>
  <body>
    <div>
      <span>Olá, <strong>{{firstName}}</strong>.</span>

      <p>
        Informamos que o seu pagamento foi criado com sucesso, porém ainda não
        confirmado, isso implica que nosso sistema de pagamentos ainda não
        recebeu o seu dinheiro.
      </p>

      <p>
        Para fazer isso se você selecionou a opção de Pix, você deverá escanear
        o código QR ou copiar e colar a chave dentro do seu aplicativo de banco.
      </p>

      <p>
        Assim que seu pagamento for confirmado, iremos notificar-lhe por email
        sobre a confirmação.
      </p>
    </div>
  </body>
</html>
